@import '~antd/dist/antd.css';

:root {
  --weverseGreen: #84FAB0;
  --weverseBlue: #8FD3F4;
  --weversePurple:#9E90F2;
  --weverseBlack:#2E2E2E;
}

/* RWD Container */
.container {
    width: 100vw; 
    display: flex;
    align-self: center;
    margin: auto;
    background-color: white;
}

/* sm */
@media (min-width: 576px) { 
  
} 

/* md */
@media (min-width: 768px) {
  
} 

/* lg */
@media (min-width: 992px) {
  
} 

/* xl */
@media (min-width: 1200px) {
  
} 

/* xxl */
@media (min-width: 1600px) {
  
} 

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100vw;
}

.layout-header,
.layout-footer {
  padding: 0;
  height: auto;
  background-color: var(--weversePurple);
}

.layout-content{
  padding: 0;
  height: auto;
  background-color: var(--weverseBlack);
  display: flex;
  flex-direction: row;
}

/* header */
.header {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: var(--weversePurple);
  height:70px;
  line-height: 70px;
}

.header-wrap-left,.header-wrap-right,.header-wrap-middle {
  display: flex;
  flex-direction: row;
  padding-top: 0rem;
  position: relative;
}

.header-wrap-left{
  width:15%;
}
.header-wrap-right{
  width:30%;
  margin-right:2rem;
  justify-content: flex-end;
}
.header-wrap-middle{
  width:55%;
}


.hr-header-line {
  width: 100;
  border:0;
  height: 0.1rem;
  background-color: coral;
  opacity: 1;
  margin: 0;
}




/* icon */


.header-icon{
  height:70px;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left:2rem;
  /* margin-right:2rem; */
  /* color: black; */
}

a{
  color:var(--weverseBlack);
}
a:hover {
  color: var(--weversePurple);
}
a:active {
  color: var(--weverseBlack);
}

/* Navbar */

.Navbar{
  height:100%;
  width:15rem;
  padding:2rem;
  background-color: var(--weverseBlue);
  overflow: auto;
}

.navnar-pagelist{
  background-color: coral;
}

.navbar-pagelist-text{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}






.navbar-line{
  height:0.1px;
  min-height: 0.1px;
  width:100%;
  background-color: black;
  margin-top:2rem;
  margin-bottom: 2rem;
}

.navbar-artistlist{
  width:100%;
  background-color: white;
  
}

.navbar-artistlist-text{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.navbar-artistname-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: coral;
  padding:0.5rem;
  margin:0.5rem;
  padding-left: 0;
  margin-left: 0;
  cursor: pointer;
}

.navbar-artistlist-thumbnail{
  width:25px;
  height:25px;
  border-radius: 25px;
  
  margin-right: 0.5rem;
}

.navbar-footer{
  background-color: white;
  display: flex;
  justify-content: center;
  
}

.navbar-footer-text{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

/* main Area */

.mainarea{
  height:100%;
  width:auto;
  background-color: var(--weverseGreen);
}
